/*
* Eventify V1.0.1
* Copyright 2014
* www.github.com/dellax/
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* Font Face
================================================== */

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebasneue-webfont.eot');
	src: url('../fonts/bebasneue-webfont.eot?iefix') format('eot'),
		url('../fonts/bebasneue-webfont.woff') format('woff'),
	   url('../fonts/bebasneue-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

/* #ei-events default styles
================================================== */

.ei-nav-container {
}

#ei-events h2 {
	display: inline;
	font-family: 'Bebas Neue';
	font-weight: lighter;
	font-size: 48px;
	color: #bfbfbf;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}
.ei-nav-arrows {
	display: inline;
}
.ei-nav-container i {
	display: inline;
	font-size: 30px;
	padding: 2px;
	color: #bfbfbf;
	line-height: inherit;
}
.ei-nav-container i:hover {
	cursor: pointer;
}
.ei-event {
	width: 410px;
	height: 90px;
	border: 2px solid #ebebeb;
	border-bottom: 0px;
}

.ei-events-container > div:last-child {
	border-bottom: 2px solid #ebebeb;
}

.ei-event .ei-date {
	position: relative;
	float: left;
	width: 100px;
	height: 90px;
	font-family: 'Bebas Neue';
	font-weight: lighter;
}
.ei-event .ei-date .ei-day {
	position: absolute;
	top: 16px;
	left: 16px;
	font-size: 48px;
	line-height: 36px;
	color: #bfbfbf;
}
.ei-event .ei-date .ei-month {
	position: absolute;
	top: 50px;
	left: 20px;
	font-size: 24px;
	color: #bfbfbf;
}
.ei-event .ei-date .ei-day_end {
	position: absolute;
	top: 12px;
	left: 60px;
	font-size: 24px;
	color: #bfbfbf;
}
.ei-content {
	position: relative;
	float: right;
	width: 310px;
	height: 90px;
}
.ei-content .ei-name {
	position: absolute;
	top: 17px;
	left: 10px;
	font-family: 'Bebas Neue';
	font-weight: lighter;
	font-size: 24px;
	line-height: 24px;
	color: #7f7f7f;
}
.ei-content .ei-time {
	position: absolute;
	top: 40px;
	left: 10px;
	font-family: arial;
	font-size: 11px;
	color: #7f7f7f;
}
.ei-content .ei-description {
	position: absolute;
	top: 56px;
	left: 10px;
	font-family: arial;
	font-size: 13px;
	color: #7f7f7f;
}

/* #ei-events default hover styles
================================================== */

.ei-event:hover {
	cursor: pointer;
	background: #f2f3f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f3f1 0%, #f4f4f4 58%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f3f1), color-stop(58%,#f4f4f4), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f3f1 0%,#f4f4f4 58%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f3f1 0%,#f4f4f4 58%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f3f1 0%,#f4f4f4 58%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f3f1 0%,#f4f4f4 58%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f1', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

/* #ei-events elegant styles
================================================== */
#ei-events-elegant .ei-events-container {
	width: 410px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.41);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.41);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.41);
}

#ei-events-elegant h2 {
	font-family: 'Bebas Neue';
	font-weight: lighter;
	font-size: 48px;
	color: #bfbfbf;
	margin: 0;
	padding: 0;
}

#ei-events-elegant .ei-event {
	border: 0;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#ei-events-elegant .ei-event:hover {
	
}

/* #ei-events dark styles
================================================== */
#ei-events-dark .ei-events-container {
	width: 410px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.41);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.41);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.41);
}

#ei-events-dark h2 {
	font-family: 'Bebas Neue';
	font-weight: lighter;
	font-size: 48px;
	color: #bfbfbf;
	margin: 0;
	padding: 0;
}

#ei-events-dark .ei-event {
	border: 0;
	background: #272727; /* Old browsers */
	background: -moz-linear-gradient(top,  #272727 0%, #151515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272727), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #272727 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #272727 0%,#151515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #272727 0%,#151515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #272727 0%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
}

#ei-events-dark .ei-event:hover {
	background: #ffffff;
}